<% @lists.each do |t| %>
    <h4><%= link_to "#{full_position(t)}", list_path(t) %></h4>

    <ul>
    <% t.excerpts.each do |e| %>
        <li><%= full_title(e) %> - <%= e.composer.name %></li>
    <% end %>
    </ul>

<% end %>

<% if admin? %>
    <%= link_to "New List", new_list_path %><br> 
<% end %>