<% if logged_in? %>
    <div class="content shadow">
        <h1>Welcome, <%= username.capitalize %></h1>

        <h2>Your Saved Lists:</h2>
        <% user_lists.each do |t| %>
            <h3><%= link_to "#{full_position(t)}", list_path(t) %></h3>
            <h4>Date: <%= display_date(t) %></h4>
        <% end %>

    </div>

<% else %>
    <div id="content shadow">
        <h1>Log In or Sign Up to save lists to your profile</h1>
    </div>
<% end %>