<% if logged_in? %>

<div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-gf">
          <div class="yui-u first">
            <div class="content">
                <h2>Lists By Instrument</h2>
                <% Instrument.all.each do |instrument| %>
                    <%= link_to "#{instrument.name}", instrument_lists_path(instrument) %><br>
                <% end %>
            </div>
          </div>
          <div class="yui-u">
            <div class="content"><h4><%= link_to "All Lists", lists_path %></h4></div>
          </div>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary"><h4><%= link_to "All Lists", lists_path %></div>
    </div>
  </div>
</div>
    
<% end %>