<h1>Positions Index</h1>

<% @positions.each do |t| %>
    <div class="content shadow">
        <h2><%= link_to "#{t.title}", position_path(t) %></h2>
        
        <% t.lists.each do |l| %>
            <h4><%= l.orchestra.name %></h4>
            <%= link_to "#{ display_date(l)}", list_path(l) %>
        <% end %>

    </div>
<% end %>

<% if @current_admin %>
    <div class="content admin">
        <%= button_to "New Position", new_position_path, method: :get %><br> 
    </div>
<% end %>
