<div class="content shadow">
    <h2>Edit Composer</h2>
    <%= form_for @composer do |o| %>
        <%= o.label "Name" %>
        <%= o.text_field :name %><br>
        <%= o.submit %>
    <% end %>
</div>