<% @composers.each do |t| %>
    <h4>Composer: <%= t.name %></h4>
    <p>Pieces: <%= t.pieces.count %></p>
<% end %>

<% if admin? %>
    <%= link_to "New Composer", new_composer_path %><br> 
<% end %>