<div class="content shadow">
    <% @composers.each do |t| %>
        <h4>Composer: <%= t.name %></h4>
        <p>Pieces: <%= t.pieces.count %></p>
    <% end %>
</div>

<% if admin? %>
    <div class="content shadow admin">
        <%= button_to "New Composer", new_composer_path, method: :get %><br> 
    </div>
<% end %>