<h1>Composers Index</h1>


<% @composers.each do |t| %>
    <div class="content shadow">
        <h4>Composer: <%= link_to "#{t.name}", composer_path(t) %></h4>
        <p>Pieces: <%= t.pieces.count %></p>
        
        <ul>
            <% t.pieces.each do |p| %>
                <li><%= link_to "#{p.title}", piece_path(p) %></li>
            <% end %>
        </ul>
        
    </div>
<% end %>


<% if @current_admin %>
    <div class="content admin">
        <%= button_to "New Composer", new_composer_path, method: :get %><br> 
    </div>
<% end %>