<% @excerpts.each do |t| %>
    <div class="content shadow">
        <h4><%= link_to "#{full_title(t)}", excerpt_path(t) %></h4>
        <p>Composed by: <%= t.composer.name %></p>
    </div>
<% end %>

<% if admin? %>
    <div class="content shadow admin">
        <%= button_to "New Excerpt", new_excerpt_path, method: :get %><br> 
    </div>
<% end %>