<h1>Pieces Index</h1>

<% @pieces.each do |t| %>
    <div class="content shadow">
        <h3><%= link_to "#{t.title}", piece_path(t) %> - <%= t.composer.name %></h3>

        <h4>Excerpts:</h4>
        <ul>
            <% t.excerpts.each do |e| %>
                <li><%= link_to "#{e.description}", excerpt_path(e) %></li>
            <% end %>
        </ul>
    </div>

<% end %>

<% if @current_admin %>
    <div class="content admin">
        <%= button_to "New Piece", new_piece_path, method: :get %><br> 
    </div>
<% end %>
