#main {
    position: relative;
    min-height: 750px;
}

body {
    background-color: #ffffff;
    text-align: center;
}

h1, h2, h3, h4 {
    margin-block-start: 0;
}

#header{
	height:100px;
	margin:0;
    padding:0;
	}
	
#header h1{
	font-size:1em;
	margin:0;
	padding:10px;
	}
	
#header h1 a{
	color:#000000;
	}
	
.content{
    height:auto;
    max-width: 550px;
    width: auto;
	background: #ffffff;;
	border-top:#FFFFFF 2px solid;
	margin:20px auto;
    padding:20px;
    border-radius: 8px;
	}
    
.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    }

.footer {
    float: left;
    bottom: 20px;
    margin-top: 20px;
    max-width: 200px;
    width: 100%;
}

.column.left {
    width: 200px;
    float: left;
    padding: 0 5px 20px 5px;
}

.nav {
    max-width: 200px;
    margin: 0px;
    margin-bottom: 20px;
}

.column.right {
    margin-left: 230px;
    margin-right: auto;
    height: auto;
}

.column.right .content {
    width:auto;
}

li {
    list-style-position: inside;
}

input {
    margin: 5px;
    border-radius: 8px;
}

