<% @orchestras.each do |t| %>
    <div>
        <h3><%= link_to "#{t.name}", orchestra_path(t) %></h3>


        <h4>Auditions:</h4>
        <ul>
            <% t.lists.each do |l| %>
                <li><%= link_to "#{l.position.title}", list_path(l) %> - <%= display_date(l) %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<% if admin? %>
    <%= link_to "New Orchestra", new_orchestra_path %><br> 
<% end %>