<h1>Orchestra Index</h1>

<% @orchestras.each do |t| %>
    <div class="content shadow">
        <h3><%= link_to "#{t.name}", orchestra_path(t) %></h3>
        <h4>Auditions:</h4>
        <ul>
            <% t.lists.each do |l| %>
                <li><%= link_to "#{l.position.title}", list_path(l) %> - <%= display_date(l) %></li>
            <% end %>
        </ul>
    </div>
<% end %>



<% if admin? %>
    <div class="content admin">
        <%= button_to "New Orchestra", new_orchestra_path, method: :get %><br> 
    </div>
<% end %>
