<h3>Lists By Instrument</h3>

<% Instrument.with_lists.each do |instrument| %>
    <%= link_to "#{instrument.name}", instrument_lists_path(instrument) %><br>
<% end %>

<h4><%= link_to "All Lists", lists_path %></h4>

<% if @current_admin %>
    <%= link_to "New List", new_list_path %>
<% end %>