<h3>Lists By Instrument</h3>
<p><%= Instrument.find_by_id(params[:instrument_id]).name %></p>

<select>
    <% Instrument.with_lists.each do |instrument| %>
        <option><%= link_to "#{instrument.name}", instrument_lists_path(instrument) %></option>
    <% end %>
</select>

<h4><%= link_to "All Lists", lists_path %></h4>

<% if @current_admin %>
    <%= link_to "New List", new_list_path %>
<% end %>